.current-page {
  transform: scale(1.2);
  font-weight: 500;
}

.nav-bgcolor {
  background-color: #184494;
}

.zoom {
  transition: transform 0.2s; /* Animation */
  transform: scale(0.9);
  color: white;
}

.zoom:hover {
  transform: scale(1.2);
  /* background: #2576b4; */
}

.navbar {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  z-index: 999;
}

.main {
  margin-top: 100px;
  margin-bottom: 30px;
}

.table1-custom {
  background: rgb(201, 214, 248);
  /* background-color: #96e1f8; */
  border-radius: 15px;
  box-shadow: 0px 7px 7px #0d539167;
  /* transition: all 0.3s ease 0s; */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: right;
}

#text {
  overflow: hidden;
}

.nav-logo-top {

  height:50px;
  width: 100px;
  padding-bottom: 8px; 
  padding-right: 5px 

}

.nav-logo-taf {

  line-height: 1px;
  letter-spacing: 5px; 
  margin-top: 0px; 
  margin-bottom: 20px; 
  color: rgba(255, 255, 255, 0.945);

}

.alertButton {
  /* width: 220px;
  height: 55px; */
  /* font-family: "Roboto", sans-serif; */
  /* font-size: 17px;
  letter-spacing: 2.5px;
  font-weight: 390; */
  /* text-transform: uppercase; */
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 35px;
  box-shadow: 0px 15px 20px #910d0d67;
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  outline: none;
  transform: scale(0.9);
}
.alertButton:hover {
  transform: scale(1.1);
  color: red;
  background-color: #fff;
  /* border: 1px solid red; */
  /* font-weight: 500; */
}
.expandButton {
  color: #fff;
  background-color: #184494;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 15px 20px #0d539167;
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  outline: none;
  transform: scale(0.9);
}
.expandButton:hover {
  transform: scale(1.1);
  color: #184494;
  background-color: #fff;
  /* border: 1px solid red; */
  /* font-weight: 500; */
}

.testButton {
  width: 220px;
  height: 48px;
  /* font-family: "Roboto", sans-serif; */
  font-size: 16px;
  letter-spacing: 2.5px;
  font-weight: 390;
  /* text-transform: uppercase; */
  color: #fff;
  background-color: #0b97c2;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px #0d539167;
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  outline: none;
  transform: scale(0.9);
}
.testButton:hover {
  transform: scale(1);
  color: #0b97c2;
  background-color: #fff;
  border: 1px solid #0b97c2;
  font-weight: 500;
}

/* #login-body{
  background-image: url('images/istockphoto-668349952-170667a.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

.loginButton {
  width: 170px;
  height: 45px;
  /* font-family: "Roboto", sans-serif; */
  font-size: 17px;
  letter-spacing: 2.5px;
  font-weight: 390;
  /* text-transform: uppercase; */
  color: #fff;
  background-color: #066cc0;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px #05488367;
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  outline: none;
  transform: scale(0.9);
  padding-top: 8px;
}
.loginButton:hover {
  transform: scale(1);
  color: #066cc0;
  background-color: #fff;
  /* border: 1px solid #066cc0; */
  font-weight: 500;
}
.toggleRadio input:checked + label{
  transform: scale(1);
  color: rgb(27, 150, 11);
  background-color: rgb(148, 255, 134);
  /* border: 1px solid #066cc0; */
  font-weight: 500;
  box-shadow: 0px 15px 20px #22830567;
}

.login-main-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-height: 350px;
  /* backdrop-filter: blur(5px); */
}

.login-main-row {
  min-height: 350px;
}

.login-right-col {
  position: relative;
  box-shadow: 0px 10px 18px #0d539167;
}
.login-left-col {
  background: #184494;
  /* border-radius: 10px;
  box-shadow: 0px 15px 20px #0d539167; */
}
.login-left-col h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.login-right-cont {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#charts {
  display: flex;
}

.card-robot-custom {
  transition: all 0.3s ease 0s;
}

.card-robot-custom:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 20px #05488367;
  border: 1px solid #184494;
  z-index: 1; /* the gui status was getting on top of robot status on hover, so increased the z-index of robot status */
}
.card-gui-custom {
  transition: all 0.3s ease 0s;
}

.card-gui-custom:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 20px #05488367;
  border: 1px solid #184494;
}
.sutInput{
  box-shadow: 0px 2px 5px #566c8067;
  /* background: #d6ecf7; */
}
.sutInput input{
  box-shadow: 0px 0px 5px #566c8067;
  border: none;
}

@media only screen and (max-width: 990px) {
  .zoom:hover {
    background-color: #184494;
    transform: scale(0.9);
  }
  .current-page {
    background-color: #184494;
    transform: scale(0.9);
  }
  .testButton {
    width: 160px;
    height: 48px;
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: 420;
  }
  .card-robot-custom {
    transform: scale(0.9);
  }
  .card-robot-custom:hover {
    transform: scale(1);
    z-index: 1; /* the gui status was getting on top of robot status on hover, so increased the z-index of robot status */
  }
  .card-gui-custom {
    transform: scale(0.9);
  }
  .card-gui-custom:hover {
    transform: scale(1);
  }

  .main {
    margin-top: 75px;
  }
  .login-left-col {
    height: 200px;
  }
  .login-left-col h1 {
    font-size: 22px;
  }
  .login-left-col img {
    height: 70px;
    width: 140px;
  }
  .login-right-col {
    height: 200px;
  }
  .loginButton {
    /* width: 300px;
    height: 40px; */
    font-size: 13px;
    letter-spacing: 2.5px;
    font-weight: 420;
    width: fit-content;
    height: fit-content;
    padding-left: 35px;
    padding-right: 35px;
  }
  .navbar {
    position: sticky; /* Set the navbar to fixed position */
  }
  .main {
    margin-top:7px;
    margin-bottom: 30px;
  }
  .datetime{
    display: none;
  }

  .nav-logo-top {

    height:50px;
    width: 100px;
    padding-bottom: 8px; 
    padding-right: 5px 
  
  }
  
  .nav-logo-taf {
    display: flex;
    line-height: 1px;
    letter-spacing: 5px; 
    margin-top: 0px; 
    margin-bottom: 20px; 
    color: rgba(255, 255, 255, 0.945);
  
  }

}

@media only screen and (max-width: 1125px) and (min-width: 991px) {
  .main {
    margin-top: 130px;
  }
}
